* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 48px;
  width: 400px;
  margin: 0 auto;
}


form > div {
  margin-bottom: 16px;
  width: 100%;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
}

button {
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
}